<div class="card">
  <div class="card-header">
    Editing Roles for <%= @user.email%>
  </div>
  <div class="card-body">
   <%= form_for(@user) do |f| %>

    <% User::ROLES.each do |role|%>
    <label>
      <%= f.check_box role %>
      <%= role.to_s.humanize %>
    </label>
    <br>
    <% end %>
    <%= f.button :submit%>
  <% end %>
  </div>
  <div class="card-footer">
   <%= link_to 'cancel', user_path(@user)%> | <%= link_to 'all user list', users_path%>
  </div>
</div>