<div class= "row" >
  <div class= "col-12" >
    <h1>Users: <%= @users.size%></h1>

    <div class="table-responsive">
      <table class="table table-success table-responsive">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Confirmation ?</th>
            <th scope="col">Ban?</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Role/s</th>
            <th scope="col">Created by invite?</th>
            <th scope="col">Invitation accepted?</th>
            <th scope="col">Invited by</th>
            <th scope="colspan-3">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user|%>
           <tr>
             <td><%=link_to user.id, user_path(user)%></td>
             <td><%= user.email%></td>
             <td><%= boolean_label(user.confirmed?)%>
             </td>
             <td><%= boolean_label(user.access_locked?)%></td>
             <td><%= user.name %></td>
             <td>
              <% if user.image.present?%>
                <%= image_tag user.image, size: "50x50", alt: "ajt" %></br>
              <%end%>
             </td>
            
             <td><%= user.active_roles.join(",") %></br></td>
              <td><%= boolean_label(user.created_by_invite?) %></br></td>
             <td><%= boolean_label(user.invitation_accepted?) %>
             <% if current_user.admin? || current_user == user.invited_by %>
               <% if user.confirmed? == false && user.created_by_invite? && user.invitation_accepted? == false%>
                 <%= link_to 'resend invite', resend_invitation_user_path(user), method: :patch	%>
               <% end %>
            <% end %>
             </br></td>
             <td><%= user.invited_by_id %></br></td>
             <td>
                <% if current_user.admin?%>
                  <%  if user.confirmed? == false && user.created_by_invite? == false %>
                  <%= link_to 'resend confirmation', resend_confirmation_instructions_user_path(user), method: :patch, class: "btn btn-secondary"	%>
                <% end%>
                <%= link_to 'edit roles', edit_user_path(user), class: "btn btn-warning"%>
                <%= link_to ban_status(user), ban_user_path(user), method: :patch, class: "btn btn-danger"%>
                <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %>
              <%end%>
            </td>
           </tr>
          <%end%>
        </tbody>
      </table>
    </div>

  </div>
</div>



